@model MvcMusicStore.Models.Genre

@{
    ViewBag.Title = "Browse";
}

<div class="card mx-5 my-5">
    <div class="card-header">
        <h2>Browsing Genre: @Model.Name</h2>
    </div>
    <div class="card-body">
        <ul class="card-columns">
            @foreach (var album in Model.Albums)
            {
                

                <li class="card">
                    <img class="card-img-top" alt="@album.Title" src="@album.AlbumArtUrl" />
                    <div class="card-body">
                        <span>@album.Title</span>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Details", new { id = album.AlbumId })">Learn More</a>
                    </div>
                </li>

            }
        </ul>
    </div>
</div>